<div class="container">
  <h1>Pritam songs</h1>
  <div class="song1">
    <h2>O Maahi Pritam, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="O Maahi.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>tum se hi Pritam, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Tum Se Hi.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Zara Sa Pritam, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Zara Sa.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Arjit Songs</h1>
  <div class="song1">
    <h2>Soulmate Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Soulmate.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Sajni Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Sajni.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Satranga Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Satranga.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Badshah Songs</h1>
  <div class="song1">
    <h2>Mercy,Badshah</h2>
    <audio controls>
      <source src="Mercy.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Garmi,Badshah</h2>
    <audio controls>
      <source src="garmi.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>

  <div class="song1">
    <h2>Dj wale babu</h2>
    <audio controls>
      <source src="Dj babu.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Ar Rahman Songs</h1>
  <div class="song1">
    <h2>Agar Tum Saath Ho, Ar Rahman</h2>
    <audio controls>
      <source src="Agar Tum Saath Ho (From _Tamasha_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Kabhi Kabhi Aditi, Ar Rahman</h2>
    <audio controls>
      <source src="Kabhi Kabhi Aditi (From _Jaane Tu... Ya Jaane Na_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Kun Faya Kun, Ar Rahman</h2>
    <audio controls>
      <source src="Kun Faya Kun.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Sachin-jigar Songs</h1>
  <div class="song1">
    <h2>Tum se, Sachin-jigar</h2>
    <audio controls>
      <source src="Tum Se (From _Teri Baaton Mein Aisa Uljha Jiya_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Tainu khabar nahi , Sachin-jigar</h2>
    <audio controls>
      <source src="Tainu Khabar Nahi - From _Munjya_.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Apna bana le, Sachin-jigar</h2>
    <audio controls>
      <source src="Apna Bana Le.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Vishal Mishra songs</h1>
  <div class="song1">
    <h2>Kaise hua , Vishal-mishra</h2>
    <audio controls>
      <source src="Kaise Hua (From _Kabir Singh_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>phele pyaar, Vishal-mishra</h2>
    <audio controls>
      <source src="Pehla Pyaar.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Pehle bhi main, Vishal-mishra</h2>
    <audio controls>
      <source src="Pehle Bhi Main.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>

  <button class="playlist" (click)="onPlaylist()">Playlist</button>

</div>
