<div class="container">
  <h1>Song playlist</h1>
</div>
<!--animal-->
<div class="Animal">
  <div class="playlist-card-container">
    <img src="animal.jpg" class="img-artist" title="Animal" />
  </div>
  <h5>Animal song</h5>

  <img src="playicon.png" class="play-icon"  (click)="Navigatesongcard()"/>
</div>
<!--aavesham-->
<div class="Aavesham">
  <div class="playlist-card-container">
    <img src="aavesham.jpg" class="img-artist" title="Aavesham" />
  </div>
  <h6>Aavesham song</h6>

  <img src="playicon.png" class="play-icon"  (click)="Navigatesongcard()"/>
</div>
<!--love hotel-->
<div
  class="love hotel"
  style="height: 245px; margin-top: -243px; margin-left: 479px"
>
  <div class="playlist-card-container">
    <img src="love hotel.jpg" class="img-artist" title="love hotel" />
  </div>
  <h3>lovehotel song</h3>

  <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()" />
</div>
<!--montesa-->
<div class="montesa">
  <div class="playlist-card-container">
    <img src="montesa.jpg" class="img-artist" title="montesa" />
  </div>
  <h3>punjabi song</h3>

  <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
</div>
<!--ek the tiger-->
<div class="EK-the-tiger">
  <div class="playlist-card-container">
    <img src="ek the tiger.jpg" class="img-artist" title="ek the tiger" />
  </div>
  <h3>Tiger song</h3>

  <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
</div>
<!--ashqi 2-->
<div class="Aashiqi">
  <div class="playlist-card-container">
    <img src="2.jpg" class="img-artist" title="Aashiqi" />
  </div>
  <h3>Aashiqi song</h3>

  <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
</div>
<!--kk-->
<div class="kk">
  <div class="playlist-card-container">
    <img src="kk.jpeg" class="img-artist" title="kk" />
  </div>
  <h3>KK song</h3>
  <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
</div>
<!--ms dhoni-->
<div class="Ms-Dhoni">
    <div class="playlist-card-container">
      <img src="MS dhoni.jpeg" class="img-artist" title="Ms-Dhoni" />
    </div>
    <h3>Ms dhoni song</h3>
    <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
  </div>
  <!--lofi-->
<div class="lofi">
    <div class="playlist-card-container">
      <img src="lofi.jpeg" class="img-artist" title="lofi" />
    </div>
    <h3>lofi song</h3>
    <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
  </div>
  <!--shershah-->
  <div class="shershah">
      <div class="playlist-card-container">
        <img src="shershah.jpeg" class="img-artist" title="Shershah" />
      </div>
      <h3>Shershah song</h3>
      <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
    </div>
     <!--local-->
  <div class="local-train">
    <div class="playlist-card-container">
      <img src="local train.jpg" class="img-artist" title="local tarin" />
    </div>
    <h3>local song</h3>
    <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
  </div>
  <!--emraan-->
  <div class="emran">
    <div class="playlist-card-container">
      <img src="emran.jpeg" class="img-artist" title="emran" />
    </div>
    <h3>Emran song</h3>
    <img src="playicon.png" class="play-icon" (click)="Navigatesongcard()"/>
  </div>
  
  