<div class="container">
  <div class="logo">
      <img src="spotify logo.png" alt="Spotify Logo">
  </div>
  <h1>Login to start listening</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onNavigateLogin()" *ngIf="loginForm">
      <div class="input-group">
          <label>Email</label>
          <input type="email" id="email" placeholder="Email" formControlName="email">
      </div>
      <div class="input-group">
          <label>Password</label>
          <input type="password" id="password" placeholder="Password" formControlName="password">
      </div>
      <button type="submit" class="next-button" >Login</button>
      <p (click)="toggleForm('signup')">Don't have an account? Please register your account..
          <span class="highlighted">Register</span>
        </p>
  </form>
</div>