<div class="container">
  <h1>Animal songs</h1>
  <div class="song1">
    <h2>Satranga, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Satranga.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>pehle bhi main, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Pehle Bhi Main.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>papa meri jaan, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Papa Meri Jaan.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Hua main, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Hua Main.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Saari duniya jalaa denge, Arijit Singh, Shreya Ghoshal, Shadab</h2>
    <audio controls>
      <source src="Saari Duniya Jalaa Denge.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Aavesham Songs</h1>
  <div class="song1">
    <h2>Galatta - Original Motion Picture Soundtrack</h2>
    <audio controls>
      <source
        src="Galatta - Original Motion Picture Soundtrack.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Odimaga - Original Motion Picture Soundtrack</h2>
    <audio controls>
      <source
        src="Odimaga - Original Motion Picture Soundtrack.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Jaada - Original Motion Picture Soundtrack</h2>
    <audio controls>
      <source
        src="Jaada - Original Motion Picture Soundtrack.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Armadham - Original Motion Picture Soundtrack</h2>
    <audio controls>
      <source
        src="Armadham - Original Motion Picture Soundtrack.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Illuminati - Original Motion Picture Soundtrack</h2>
    <audio controls>
      <source
        src="Illuminati - Original Motion Picture Soundtrack.mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>love hotel Songs</h1>
  <div class="song1">
    <h2>King Shit</h2>
    <audio controls>
      <source src="King Shit.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Bandana</h2>
    <audio controls>
      <source src="Bandana.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>

  <div class="song1">
    <h2>MVP</h2>
    <audio controls>
      <source src="MVP.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>One Love</h2>
    <audio controls>
      <source src="One Love.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Cheques</h2>
    <audio controls>
      <source src="Cheques.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>punjabi Songs</h1>
  <div class="song1">
    <h2>Same Beef</h2>
    <audio controls>
      <source src="Same Beef.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Never Fold</h2>
    <audio controls>
      <source src="Never Fold.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Drippy</h2>
    <audio controls>
      <source src="Drippy.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>410</h2>
    <audio controls>
      <source src="410.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>295</h2>
    <audio controls>
      <source src="295.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Ek the tiger Songs</h1>
  <div class="song1">
    <h2>Tigers Theme</h2>
    <audio controls>
      <source src="Tigers Theme.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Laapata</h2>
    <audio controls>
      <source src="Laapata.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Saiyaara</h2>
    <audio controls>
      <source src="Saiyaara.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Ashiqui2 songs</h1>
  <div class="song1">
    <h2>Meri Aashiqui</h2>
    <audio controls>
      <source src="Meri Aashiqui.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Hum Mar Jayenge</h2>
    <audio controls>
      <source src="Hum Mar Jayenge.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Tum Hi Ho</h2>
    <audio controls>
      <source src="Tum Hi Ho.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Milne Hai Mujhse Aayi</h2>
    <audio controls>
      <source src="Milne Hai Mujhse Aayi.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Piya Aaye Na</h2>
    <audio controls>
      <source src="Piya Aaye Na.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>kk songs</h1>
  <div class="song1">
    <h2>Zara Sa</h2>
    <audio controls>
      <source src="Zara Sa.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Kya Mujhe Pyar Hai (From _Woh Lamhe_) (1)</h2>
    <audio controls>
      <source
        src="Kya Mujhe Pyar Hai (From _Woh Lamhe_) (1).mp3"
        type="audio/mpeg"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Khuda Jaane</h2>
    <audio controls>
      <source src="Khuda Jaane.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Ajab Si (From _Om Shanti Om_)</h2>
    <audio controls>
      <source src="Ajab Si (From _Om Shanti Om_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Beete Lamhein (From _The Train_)</h2>
    <audio controls>
      <source src="Beete Lamhein (From _The Train_).mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>MS Dhoni songs</h1>
  <div class="song1">
    <h2>Phir Kabhi</h2>
    <audio controls>
      <source src="Phir Kabhi.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Parwah Nahin</h2>
    <audio controls>
      <source src="Parwah Nahin.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Jab Tak</h2>
    <audio controls>
      <source src="Jab Tak.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Kaun Tujhe</h2>
    <audio controls>
      <source src="Kaun Tujhe.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Besabriyaan</h2>
    <audio controls>
      <source src="Besabriyaan.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>lofi songs</h1>
  <div class="song1">
    <h2>frost</h2>
    <audio controls>
      <source src="frost.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>animos</h2>
    <audio controls>
      <source src="animos.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Coffee Shop</h2>
    <audio controls>
      <source src="Coffee Shop.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>lulling</h2>
    <audio controls>
      <source src="lulling.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>drowsy</h2>
    <audio controls>
      <source src="drowsy.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <h1>Emraan songs</h1>
  <div class="song1">
    <h2>Tu Hi Haqeeqat</h2>
    <audio controls>
      <source src="Tu Hi Haqeeqat.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Tu Hi Mera</h2>
    <audio controls>
      <source src="Tu Hi Mera.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Tujhe Sochta Hoon</h2>
    <audio controls>
      <source src="Tujhe Sochta Hoon.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Hale Dil</h2>
    <audio controls>
      <source src="Hale Dil.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>
  <div class="song1">
    <h2>Zara Sa</h2>
    <audio controls>
      <source src="Zara Sa.mp3" type="audio/mpeg" />
      Your browser does not support the audio tag.
    </audio>
  </div>

  <button class="home" (click)="onhome()">home</button>
  
</div>
