<div class="container">
  <div class="sidebar">
    <img
      src="1.png
    "
      alt="Spotify Logo"
      title="Spotify Logo"
    />
  </div>

  <app-top-nav></app-top-nav>
  <div class="sidebaritems">
    <div class="icon">
      <img src="home.png" title="Home" class="home" />
      <img src="search.png" title="Search" class="search" />
    </div>
    <div class="icontext">
      <p>Home</p>
      <p>Search</p>
    </div>
    <div class="playlistcontainer">
      <img src="library.png" title="Library" class="library" />
      <h4>Your Library</h4>
      <h3>Create Your First Playlist.</h3>
      <h2>It's Easy. We Will Help you.</h2>
    </div>
  
    <div class="section-title">
      <p>Popular artists</p>
      <p></p>
    </div>
    <!--pritam-->
  <div class="pritam">
    <div class="playlist-card-container">
      <img src="th.jpg" class="img-artist" title="Pritam">
    </div>
    <h5>Pritam</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>
  <!--arijit-->
  <div class="arijit">
    <div class="playlist-card-container">
      <img src="th (1).jpg" class="img-artist" title="Arijit">
    </div>
    <h5>Arijit Singh</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>
  <!-- Badshah-->
  <div class="badshah">
    <div class="playlist-card-container">
      <img src="th (4).jpg" class="img-artist" title="Badshah">
    </div>
    <h5>Badshah</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>
  <!-- AR rahman-->
  <div class="Ar-rahman">
    <div class="playlist-card-container">
      <img src="wp5274755.jpg" class="img-artist" title="Ar Rahman">
    </div>
    <h5>AR Rahman</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>

  <!-- vishal mishra-->
  <div class="vishal-mishra">
    <div class="playlist-card-container">
      <img src="vishal.png" class="img-artist" title="vishal-mishra">
    </div>
    <h5>Vishal mishra</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>

  <!--schin jigar-->
  <div class="Sachin jigar">
    <div class="playlist-card-container">
      <img src="sachin.jpg" class="img-artist" title="Sachin-jigar">
    </div>
    <h5>Sachin jigar</h5>
    <h5>Artist</h5>
    <img src="playicon.png" class="play-icon" (click)="Navigatesong()">
  </div>
   


  </div>

